@w-one:1100px;
.home{
    width: @w-one;
    margin: 30px auto;
    .head-tit{
        margin-bottom: 20px;
    }
    .main-lef{
        width:780px;
        height:330px;
        margin-right: 20px;
        .swiper{
            position: relative;
            border-radius: 10px;
            width: 100%;
            .swiper-slide{
                width: 500px;
                height: 327px;
            img{
                width:100%;
                height:100%;
                }
             .swiper-p{
                position: absolute;
                left: 0;
                top: 0;
                padding: 10px;
                background-color: rgb(196,0,0);
                color: white;
             }
            }
        }
        
    }
    .main-rig{
        width: 295px;
        border-radius:5px;
        .list-one{
            height: 255px;
            background-color: white;
            border: 1px solid #ccc;
            &:hover{
                box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
            }
            .list-item{
                .list-ul{
                    margin-left: 18px;
                    li{
                        display: flex;
                        align-items: center;
                        margin-top: 8px;
                    :hover.p2{
                        transform: translateX(15px);
                        color:rgb(54,144,216);
                    }
                        .p1{
                            border-radius: 50%;
                            width: 25px;
                            height: 25px;
                            background-color: red;
                            color: white;
                            text-align: center;
                            line-height: 25px;
                            font-size: 14px;
                            margin-right: 5px;
                        }
                        .p2{
                            transition: .5s;
                            font-size: 14px;
                            cursor: pointer;
                        }
                    }
                } 
            }
        }
        .one-head{
            height: 40px;
            background-color: #f8f8f8;
            display: flex;
            align-items: center;
            font-weight:bold;
            border-bottom: 1px solid #ccc;
            img{
                width: 15px;
                height: 15px;
                margin:0 10px;
            }
        }
        .list-two{
            background-color: white;
            margin-top: 20px;
            .sm-box{
                height: 260px;
                .cot-box{
                    width: 275px;
                    margin: 10px;
                    height: 245px;
                    background-color: red;
                    span{
                        padding:5px;
                        text-align: center;
                        font-size: 14px;
                        color: white;
                        background-color: aqua;
                        border-radius: 3px;
                        animation:dh 8s linear infinite;
                        display: inline-block;
                    }
                    // span:hover{
                    //     animation: none;
                    //     z-index: 10;
                    // }
                }
            }
        }
    }
}
@keyframes dh{
    0% {transform:translateY(150px);opacity:1;};
    50%{transform:translateY(100px);opacity:1;};
    75%{transform:translateY(50px);opacity:1;};
    100%{transform:translateY(10px);opacity:0;};
}